@model IEnumerable<eCommerceSite.Models.Owner.Posted_Advertisement_Details_ViewModel>
@{
    ViewData["Title"] = "NotApproveTable";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}

<h1>Not Approve List</h1>


<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i> Cetagory List </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product_Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product_Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cetagory_Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @if ((item.Product_Title).ToString().Length > 30)
                                {
                                    @*<a href="" data-toggle="modal" data-target="#exampleModalCenter">*@
                                    @item.Product_Title.ToString().Substring(0, 30) <h6> ...... </h6>
                                    @*</a>*@

                                }
                                else
                                {
                                    @*<a data-toggle="modal" data-target="#exampleModalCenter">*@
                                    @Html.DisplayFor(modelItem => item.Product_Title)
                                    @*</a>*@
                                }

                            </td>
                            <td>
                                @if ((item.Product_Description).ToString().Length > 500)
                                {
                                    @item.Product_Description.ToString().Substring(0, 500); <h6> ...... </h6>

                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Product_Description);
                                }
                            </td>

                            <td>
                                <img src="~/CetagoryPicture/@item.Cetagory_Image" height="100" width="100">
                                @Html.DisplayFor(modelItem => item.Cetagory_Name)
                            </td>

                            <td>
                                <a href="~/Advertisement/Details_Advertisement/@item.CID/@item.PID"> More Details</a> |
                                <button onclick="Delete(@item.PID)"> Delete </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>

        function Delete(uri) {

            swal({
                title: "Are you sure?",
                text: "Want to Delete",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {

                    /* var value = {
                         id: $("#Delete").val(),
                     };*/
                    //// document.writeln(value.email);
                    $.ajax({
                        url: '/api/Owners/DeleteProduct/' + uri,
                     ///   headers: { 'ApiKey': 'PiTech_JWT_TOKEN' },
                        type: 'DELETE',
                        dataType: 'json',
                        /// data: value,
                        success: function (data, textStatus, xhr) {

                            swal({
                                icon: 'success',
                                title: 'Deleted',
                                text: 'Cetagory Deleted Successfully',
                            });
                            $("#dataTable").load(location.href + " #dataTable");
                             //// location.reload();
                            ///dataTable.ajax.reload();
                        },
                        error: function (xhr, textStatus, errorThrown) {

                            swal({
                                icon: 'error',
                                title: 'Ooopsss!',
                                text: 'Something Went Wrong',
                            });

                        }
                    });
                }

            });


        }
</script>





<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>*@

<!-- Modal -->
@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Javascript here

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@