@model IEnumerable<eCommerceSite.Models.Cetagory.Cetagory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";


}

<h1>Index</h1>

@{
    var data = Model.ToList();
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i> Cetagory List </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>
                            .
                        </th>
                        <th>
                           .
                        </th>
                        <th>
                          .
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @for (int i = 0; i < data.Count; i++)
                    {
                    <tr>


                        <td>
                            <img src="~/CetagoryPicture/@Html.DisplayFor(modelItem => data[i].Photo)" height="250" width="250" />
                            <div class="tile-footer" style="max-height:45px;">
                                @if ((data[i].Title).ToString().Length > 30)
                                {
                                    <h6> @data[i].Title.ToString().Substring(0, 30) ..... </h6>
                                }
                                else
                                {
                                    <h6> @data[i].Title.ToString().Substring(0) </h6>
                                }

                                <a asp-action="Post" asp-route-id="@data[i].CID">
                                    <abbr title="Post Advertisement / আপনার বিজ্ঞাপন দিন">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fa fa-eject">
                                    </abbr>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a asp-action="Details" asp-route-id="@data[i].CID">
                                    <abbr title="Details">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fas fa-align-justify">
                                    </abbr>
                                </a>
                            </div>
                        </td>

                        @try
                        {
                            if (data[i + 1] == null)
                            {
                                <td> </td>
                                <td> </td>
                                break;


                            }
                            else
                            {
                                i++;
                            }
                        }
                        catch (Exception e)
                        {
                            <td> </td>
                            <td> </td>
                            break;
                        }

                        <td>
                            @*<div class="tile-image" style="background-image: url('/CetagoryPicture/@data[i].Photo')">

                            </div>*@

                            <img src="~/CetagoryPicture/@Html.DisplayFor(modelItem => data[i].Photo)" height="250" width="250" />
                            <div class="tile-footer" style="max-height:45px;">
                                @if ((data[i].Title).ToString().Length > 30)
                                {
                                    <h6> @data[i].Title.ToString().Substring(0, 30) ..... </h6>
                                }
                                else
                                {
                                    <h6> @data[i].Title.ToString().Substring(0) </h6>
                                }

                                <a asp-action="Post" asp-route-id="@data[i].CID">
                                    <abbr title="Post Advertisement / আপনার বিজ্ঞাপন দিন">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fa fa-eject">
                                    </abbr>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a asp-action="Details" asp-route-id="@data[i].CID">
                                    <abbr title="Details">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fas fa-align-justify">
                                    </abbr>
                                </a>
                            </div>
                        </td>

                        @try
                        {

                            if (data[i + 1] == null)
                            {
                                <td> </td>
                                break;

                            }
                            else
                            {
                                i++;
                            }
                        }
                        catch (Exception e)
                        {
                            <td> </td>
                            break;
                        }

                        <td>
                            @*<div class="tile-image" style="background-image: url('/CetagoryPicture/@data[i].Photo')">

                            </div>*@

                            <img src="~/CetagoryPicture/@Html.DisplayFor(modelItem => data[i].Photo)" height="250" width="250" />
                            <div class="tile-footer" style="max-height:45px;">
                                @if ((data[i].Title).ToString().Length > 30)
                                {
                                    <h6> @data[i].Title.ToString().Substring(0, 30) ..... </h6>
                                }
                                else
                                {
                                    <h6> @data[i].Title.ToString().Substring(0) </h6>
                                }

                                <a asp-action="Post" asp-route-id="@data[i].CID">
                                    <abbr title="Post Advertisement / আপনার বিজ্ঞাপন দিন">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fa fa-eject">
                                    </abbr>
                                </a>

                                &nbsp;&nbsp;&nbsp;
                                <a asp-action="Details" asp-route-id="@data[i].CID">
                                    <abbr title="Details">
                                        <img src="https://cl.ly/233R2d0p2o0t/icon_download.svg" alt="" class="fas fa-align-justify">
                                    </abbr>
                                </a>

                            </div>
                        </td>


                    </tr>
                        }
                    </tbody>
                    </table>
                </div>
    </div>
</div>
