@model IEnumerable<eCommerceSite.Models.Admin.Owner_ViewList_Model>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i> Users </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Photo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First_Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>


                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                <img src="~/ProfilePicture/@Html.DisplayFor(modelItem => item.Photo)" height="100" width="100">
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.First_Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>


                            <td>
                                <button onclick="Renew(@item.OID)"> Renew  </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/API_Action/Renew_User.js"> </script>


